BasedOnStyle: Google
ColumnLimit: 80
Cpp11BracedListStyle: true
IndentWidth: 2
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceBeforeAssignmentOperators: true
Standard: Cpp11
UseTab: Never
AllowShortFunctionsOnASingleLine: false