[submodule "libs/protobuf"]
	path = libs/protobuf
	url = https://github.com/google/protobuf.git
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/Catch"]
	path = libs/Catch
	url = https://github.com/philsquared/Catch.git
